.aboutmepage {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(166, 164, 147); */
    background-image: linear-gradient(to bottom left, #9c522d, #e8eab2);
    display: flex;
    align-items: center;
    user-select: none;
    overflow: scroll;
}

.profilepic {
    width: 18%;
    /* min-width: 150px; */
    aspect-ratio: 3/4;
    border-radius: 30px;
    margin-left: 7%;
    object-fit: cover;
    box-shadow: 0 0 30px 5px rgba(30, 48, 107, 0.3);
}

.profilepic:hover {
    box-shadow: 0 0 30px 10px rgba(30, 48, 107, 0.3);
}

.am_circlecontainer {
    width: 3%;
    min-width: 22px;
    aspect-ratio: 1/5;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.am_circle {
    width: 100%;
    aspect-ratio: 1;
    transition: 0.2s;
    border-radius: 50%;
    background-color: rgb(163, 221, 210);
    opacity: 0.5;
}

.am_circle:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(146, 226, 211);
    opacity: 0.75;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}


.am_curr_circle {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(79, 226, 199);
    cursor: pointer;
    opacity: 0.75;
}

.am_curr_circle:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

@media (max-aspect-ratio: 1 / 1) {
    .aboutmepage {
        justify-content: center;
    }
    .profilepic {
        width: 15%;
        min-width: 100px;
        position: absolute;
        top: 20px;
        margin-left: 0;
    }
}
@media (max-aspect-ratio: 0.65 / 1) {
    .profilepic {
        width: 15%;
        min-width: 85px;
        position: absolute;
        top: 20px;
        margin-left: 0;
    }
}