.fabcontainer {
    width: 75px;
    z-index: 2;
    position: fixed;
    bottom: 10px;
    left: 10px;
    opacity: .9;
    border-radius: 50%;
    display: flex;
    justify-content: safe center;
    align-items: safe center;
    transition: .4s;
    padding: 15px 0px 15px 0px;
    overflow: hidden;
}
.fabcontainer:hover {
    padding: 17.5px 0px 17.5px 0px;
    transition: .4s;
    width: 85px;
    bottom: 5px;
    left: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
}
.fabcontainer::before {
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#FFDEE9, #B5FFFC), linear-gradient(#FA6164, #F71C7A), linear-gradient(#85FFBD, #FFFB7D), linear-gradient(#893BFF, #FF2525);
    animation: rotateborder 12s linear infinite;
}
#fabrest::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 5px 5px 5px 5px;
    background: rgb(235, 159, 101);
}
#fabexpand {
    width: 300px;
}
#fabexpand::after {
    content: '';
    border-radius: 20px;
    position: absolute;
    inset: 5px 5px 5px 5px;
    background: rgb(210, 134, 75);
}

@keyframes rotateborder {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fabarrow {
    position: relative;
    right: 7px;
    width: 45px;
    transform: rotateZ(45deg);
    z-index: 2;
}

.fablinks {
    position: relative;
    margin: 2px 0px 2px 0px;
    font-size: 2rem;
    font-family: "Monaco", "Arial";
    font-style: italic;
    z-index: 2;
}
.fablinks:hover {
    color: rgb(255, 243, 243);
}

@media (max-width: 1000px) {
    .fabcontainer {
        transform: scale(0.8);
    }
    .fabcontainer:hover {
        transform: scale(0.8);
    }
    #fabexpand {
        width: 240px;
    }
    .fablinks {
        font-size: 1.7rem;
    }
}
@media (max-width: 450px) {
    .fabcontainer {
        bottom: -5px;
        left: -5px;
        transform: scale(0.65);
    }
    .fabcontainer:hover {
        transform: scale(0.65);
        bottom: 0px;
        left: 0px;
    }
    #fabexpand {
        width: 195px;
    }
    .fablinks {
        font-size: 1.5rem;
    }
}