.helpbutton {
    width: 55px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    background-color: rgba(240, 230, 195, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.escapebutton {
    width: 50px;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    opacity: .8;
}

.helpmodal {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Monaco", "Arial";
    font-style: italic;
    overscroll-behavior: contain;
    overflow: scroll;
    display: flex;
    flex-direction: row;
}

.helpnav {
    width: 25%;
    /* min-width: 250px; */
    height: fit-content;
    padding-top: 10px;
}
/* Each section in the navbar*/
.helpnavsection {
    height: 12vh;
    width: 100%;
    min-height: 70px;
    font-size: 1.5rem;
    display: flex;
    align-items: safe center;
    justify-content: safe center;
    margin-bottom: 10px;
    padding: 0px 3px 0px 3px;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.helpnavsection:hover {
    background-color: #aeb5c6;
    color: #830000;
    cursor: pointer;
    transition: .15s;
}
/* Active section is highlighted */
#currnavsection {
    background-color: #487ea2;
    color: #29015f;
    transition: 0.35s;
}

.helpfeatures {
    /* border-left: 1px solid white; */
    width: 75%;
    /* min-width: 500px; */
    /* min-height: 99vh; */
    height: fit-content;
    padding-top: 10px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.feature {
    width: 40%;
    /* min-width: 300px; */
    margin: 15px;
    line-height: 150%;
    background-color: #cfd24f;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
    color: #1b3b75;
    font-size: 1.2rem;
}
@media (max-width: 2000px) {
}
@media (max-width: 1700px) {
}
@media (max-width: 1250px) {
}
@media (max-width: 1000px) {
    .escapebutton {
        width: 40px;
        right: 8px;
        top: 8px;
    }
    .helpnavsection {
        font-size: 1.1rem;
    }
    .feature {
        font-size: 1rem;
    }
}
@media (max-width: 770px) {
    .escapebutton {
        width: 35px;
        right: 7px;
        top: 7px;
    }
    .helpnavsection {
        font-size: 1rem;
    }
    .feature {
        font-size: 0.9rem;
        margin: 10px;
        padding: 10px;
        border-radius: 7.5px;
    }
}
@media (max-width: 550px) {
    .escapebutton {
        width: 30px;
        right: 5px;
        top: 5px;
    }
    .feature {
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
    }
}
@media (max-width: 450px) {
    .helpnavsection {
        font-size: 0.9rem;
    }
    .feature {
        font-size: 0.8rem;
    }
}
@media (max-width: 350px) {
    .escapebutton {
        width: 25px;
        right: 3px;
        top: 3px;
    }
    .helpnavsection {
        font-size: 0.8rem;
    }
    .feature {
        font-size: 0.7rem;
    }
}