.panobox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -2;
}

.pano1 {
    height: 100%;
    width: 200%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: -50%;
    cursor: grab;
    z-index: -1;
}

/* Create the asterisk; the animation; and its interaction*/
.asterisk {
    height: 25vh;
    aspect-ratio: 1;
    position: fixed;
    top: 37.5vh;
    left: calc(50vw - 12.5vh);
    transition: 0.2s;
    animation: spin 6s infinite linear;
    animation-play-state: paused;
    opacity: 1;
}

.asterisk:hover {
    animation-play-state: running;
    cursor: pointer;
}

.asterisk:active {
    height: 20vh;
    top: 40vh;
    left: calc(50vw - 10vh);
    transition: .2s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Define a bubble and its interactions: */
.bubble {
    height: 25vh;
    width: 25vh;
    background-color: #bae8e8e8;
    color: black;
    border-radius: 50%;
    display: block;
    transition: .75s;
    opacity: 1;
    position: fixed;
}

.bubble:hover {
    border-radius: 0%;
    transition: 1s;
    cursor: pointer;
}

/* Positions of the bubbles: */
#aboutme {
    top: 9.375vh;
    left: calc(50vw - 12.5vh);
}

#portfolio {
    top: 37.5vh;
    left: calc(50vw + 15.625vh);
}

#contact {
    top: 65.625vh;
    left: calc(50vw - 12.5vh);
}

#experience {
    top: 37.5vh;
    left: calc(50vw - 40.625vh);
}

/* Modify the text and its interactions: */
.bubble_heading {
    position: relative;
    font-family: "Monaco", "Arial";
    font-size: 3.75vh;
    transition: 0.75s;
    top: 30%;
}

.bubble_text {
    position: relative;
    font-family: "Monaco", "Arial";
    font-size: 2vh;
    transition: 0.75s;
    opacity: 0;
}

.bubble:hover .bubble_heading {
    top: 10%;
}

.bubble:hover .bubble_text {
    opacity: 1;
    transition: 1.5s;
}