/* Style of the container of the buttons*/
.Navbar {
    width: clamp(35px, 3.5vw, 100px);
    height: clamp(105px, 10.5vw, 300px);
    background-color: #D3D3D3;
    position: fixed; /*stays fixed on right side even when scrolling */
    right: 0;
    top: 30vh;
    border-radius: 15px 0px 0px 15px ;
    opacity: 0.6;
}
.Navbar:hover {
    opacity: 1;
}

/* Style all the buttons */
.button {
    width: 50%;
    position: relative;
    display: block;
    top: 10%;
    padding-bottom: 15%;
    left: 25%;
}

/* When a button is hovered, expand and reposition*/
.button:hover {
    width: 58%;
    top: 6%;
    left: 21%;
    padding-bottom: 7%;
}

/* When a button is pressed, shrink and reposition*/
.button:active {
    width: 42%;
    top: 10%;
    left: 29%;
    padding-bottom: 22.5%;
}