.projdetails {
    width: 95vw;
    background-color: #1E2761;
    position: absolute;
    left: 2.5vw;
    padding: 20px 0px 10px 0px;
    border-radius: 25px;
    font-family: "Monaco", "Arial";

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.progressbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
    z-index: 2;
    background-color: rgba(10, 172, 140, 0.7);

    transform-origin: 0%;
}

.projectheader {
    padding: 50px;
    font-size: 2rem;
    background-color: #7A2048;
    color: white;
    border-radius: 20px;
}
.projectheader:hover {
    box-shadow: 0 0 15px 3px rgba(243, 104, 104, 0.339);
}

.projectsection {
    background-color: #408EC6;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 40px;
    padding: 40px;
}
.projectsection:hover {
    box-shadow: 0 0 15px 3px rgba(76, 85, 94, 0.485);
}

.projecttext {
    line-height: 175%;
    color: white;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: auto;
}

.projectimages {
    width: 50%;
    border-radius: 20px;
}
.projectimages:hover {
    box-shadow: 0 0 30px 10px rgba(171, 121, 102, 0.79);
}

@media (max-width: 1200px) {
    .projectheader {
        font-size: 1.75rem;
    }
    .projecttext {
        font-size: 1.25rem;
    }
}
@media (max-width: 1000px) {
    .projectheader {
        font-size: 1.5rem;
        padding: 45px;
    }
    .projectsection {
        padding: 30px;
    }
    .projecttext {
        font-size: 1rem;
    }
}
@media (max-width: 700px) {
    .projdetails {
        border-radius: 15px;
    }
    .projectheader {
        font-size: 1.25rem;
        border-radius: 10px;
        padding: 35px;
    }
    .projectsection {
        border-radius: 30px;
        padding: 20px;
    }
    .projecttext {
        font-size: 0.8rem;
    }
    .projectimages {
        border-radius: 10px;
    }
    .progressbar {
        width: 10px;
    }
}
@media (max-width: 450px) {
    .projectheader {
        font-size: 1rem;
        padding: 20px;
    }
    .projectsection {
        border-radius: 20px;
        padding: 15px;
    }
    .projecttext {
        font-size: 0.65rem;
        line-height: 150%;
    }
    .progressbar {
        width: 7px;
    }
}